# ignore build files
src/out/
src/debug
src/release
src/Makefile*
src/icp.pro.user
src/icp.pro.user*
src/object_script.icp.*
src/*.o
src/.qmake.stash
src/moc_*
src/icp
src/ui_*
build*
*.zip
# ignore docs
doc
